{% extends 'base.html' %}
{% load static %}


{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>

    {% if prices_list %}
        <div align="center">
            <ul>
                {% for price in prices_list %}
                    <p>
                        <li style="display: inline-block; white-space: nowrap">
                    <h3> {{ price.pricing_type }} </h3>
                    <h5> $ {{ price.price|floatformat:2 }} </h5>
                    <h5> {{ price.description }} </h5>

                    </li>
                    </p>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Currently there are no available price plans.</p>
    {% endif %}

{% endblock %}