{% extends 'base.html' %}
{% load static %}
{% load placeholders %}

{% block content %}

    <h1>OFFERS</h1>
    {% if offer_list %}
        <div>
            <ul>
                {% for offer in offer_list %}
                    <li style="display: inline-table; white-space: nowrap">
                        <h3> {{ offer.job_position }} </h3>
                        <h5> {{ offer.city }} {{ offer.state }} </h5>
                        <h5> ${{ offer.wage|floatformat:2 }}/hour, {{ offer.employer }}</h5>
                        <h5> {{ offer.sponsor }}</h5>
                        <button class="btn btn-primary btn-lg">Details</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Currently there are no available offers.</p>
    {% endif %}

{% endblock %}
