{% extends 'base.html' %}
{% load static %}
{% load placeholders %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Digital Agency Template</title>
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Open+Sans:400,600,700,800"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/responsive.css">

    </head>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-top">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="logo">
                                        <a href="{% url 'index' %}">
                                            <img src="../../static/img/aimtravel_logo.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12">
                                    <div class="menu">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="{% url 'index' %}">Начало</a></li>
                                            <li><a href="#">Контакти</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h1>OFFERS</h1>
                            {% if offer_list %}
                                <div>
                                    <ul>
                                        {% for offer in offer_list %}
                                            <li>
                                                <h3> {{ offer.job_position }} </h3>
                                                <h5> {{ offer.city }} {{ offer.state }} </h5>
                                                <h5> ${{ offer.wage|floatformat:2 }}/hour, {{ offer.employer }}</h5>
                                                <h5> {{ offer.sponsor }}</h5>
                                                <button class="btn btn-primary btn-lg">Details</button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <p>Currently there are no available offers.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>


            </div>


        </header>

    </div>
{% endblock %}
