{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-top">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="logo">
                                        <a href="{% url 'index' %}">
                                            <img src="../static/img/aimtravel_logo.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-12 col-xs-12">
                                    <div class="menu">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#">За нас</a></li>
                                            {% if user.is_authenticated %}
                                                <li><a href="#sign-in">Записване</a></li>
                                            {% endif %}
                                            {% if user.is_staff %}
                                                <li><a href="http://localhost:8000/admin/">Администратор</a></li>
                                                <li><a href="{% url 'add offer' %}">Добави оферта</a></li>
                                            {% endif %}
                                            <li><a href='{% url 'offers' %}'>Оферти</a></li>
                                            <li><a href="{% url 'prices' %}">Цени</a></li>
                                            <li><a href="#extra_services">Допълнителни услуги</a></li>
                                            <li><a href="#contacts">Контакти</a></li>
                                            {% if user.is_authenticated %}
                                                <li><a href="{% url 'details profile' pk=user.pk %}">Личен профил</a>
                                                </li>
                                                <li><a href="{% url 'sign out' %}">Изход</a></li>
                                            {% else %}
                                                <li><a href="{% url 'auth option' %}">Вход</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="header-carousal owl-carousel owl-theme">
                            <div class="item">
                                <h4>Започна</h4>
                                <h2>КАМПАНИЯ 2023</h2>
                                <p>Заповядайте при нас, за да намерите най-добрите оферти за WAT! </p>
                                <button>GET STARTED</button>
                            </div>
                            <div class="item">
                                <h4>НИЕ СМЕ</h4>
                                <h2>AIM TRAVEL България</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has
                                    <br>dummy text ever since the 1500s, Lorem Ipsum. </p>
                                <button>GET STARTED</button>
                            </div>
                            <div class="item">
                                <h4>ЗАЩО ДА ИЗБЕРА</h4>
                                <h2>AIM TRAVEL</h2>
                                <p>Ще получиш информация от хора с реален опит със студентските бригади
                                    <br> и партньорства с работодатели, сключени от първо лице!</p>
                                <button>GET STARTED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="about-us">
            <h2>ЗА НАС</h2>
            <div class="about-icon">
                <img src="../static/img/section-icon.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="video">
                            <iframe width="100%" src="https://www.youtube.com/embed/HZRp6iRjnhQ" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text">
                            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum
                                is simply dummy text of the. </h4>
                            <h3>Кои сме ние</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been </p>
                            <h3>Нашата философия</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been </p>
                            <button>READ MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-team">
            <h2>НАШИЯТ ЕКИП</h2>
            <div class="about-icon">
                <img src="../static/img/section-icon.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="hexagon1">
                            <img src="../static/img/shepe-team-area.png" alt="">
                            <div class="hexagon one1">
                                <img src="../static/img/team-member1.jpg" alt="">
                            </div>
                            <h3>Teresa J. Gess</h3>
                            <p>Designer</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="hexagon1">
                            <img src="../static/img/shepe-team-area.png" alt="">
                            <div class="hexagon one2">
                                <img src="../static/img/team-member2.jpg" alt="">
                            </div>
                            <h3>Aaron Abraham</h3>
                            <p>Web Designer</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="hexagon1">
                            <img src="../static/img/shepe-team-area.png" alt="">
                            <div class="hexagon one3">
                                <img src="../static/img/team-member3.jpg" alt="">
                            </div>
                            <h3>Marksman Bartholomew</h3>
                            <p>Designer</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="hexagon1">
                            <img src="../static/img/shepe-team-area.png" alt="">
                            <div class="hexagon one4">
                                <img src="../static/img/team-member4.jpg" alt="">
                            </div>
                            <h3>Chad Chadwick</h3>
                            <p>Web Designer</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="two1 tom">
                            <div class="images">
                                <img src="../static/img/team-member1.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>Teresa J. Gess--<span>DESIGNER</span></h3>
                                <h4>07 Years Experience</h4>
                                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem
                                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    has been the industry's. </h5>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i
                                        class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i
                                        class="fa fa-behance" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="two2 tom">
                            <div class="images">
                                <img src="../static/img/team-member2.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>Aaron Abraham--<span>WEB DESIGNER</span></h3>
                                <h4>12 Years Experience</h4>
                                <h5>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                    in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                    old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                                    Virginia, looked up one of the </h5>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i
                                        class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i
                                        class="fa fa-behance" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="two3 tom">
                            <div class="images">
                                <img src="../static/img/team-member3.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>Marksman Bartholomew <span>DESIGNER</span></h3>
                                <h4>10 Years Experience</h4>
                                <h5>There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour, or randomised words
                                    which don't look even slightly believable. If you are going to use a passage of
                                    Lorem Ipsum, you </h5>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i
                                        class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i
                                        class="fa fa-behance" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="two4 tom">
                            <div class="images">
                                <img src="../static/img/team-member4.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>Chad Chadwick--<span>WEB DESIGNER</span></h3>
                                <h4>15 Years Experience</h4>
                                <h5>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                                    that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content</h5>
                                <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i
                                        class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i
                                        class="fa fa-behance" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service">
            <h2 id="sign-in">ЗАПИСВАНЕ</h2>
            <div class="about-icon">
                <img src="../static/img/section-icon.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <h4>THEME DESIGN</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-diamond" aria-hidden="true"></i>
                            <h4>logo DESIGN</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-address-card" aria-hidden="true"></i>
                            <h4>print DESIGN</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-futbol-o" aria-hidden="true"></i>
                            <h4>THEME DESIGN</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-ils" aria-hidden="true"></i>
                            <h4>logo DESIGN</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="text">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <h4>print DESIGN</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h5><a href="#">READ MORE</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio">
            <h2 id="offers">РАБОТНИ ОФЕРТИ</h2>
            <div class="about-icon">
                <img src="../static/img/section-icon.jpg" alt="">
            </div>


            {% for o in object %}

                {{ o.job_position }}
                {{ o.city }},{{ o.state }}
                {{ o.employer }}
                {{ o.wage }}
                {{ o.sponsor }}
                <h5><a href="#">Допълнителни детайли</a></h5>

            {% endfor %}


        </section>
        <section class="testimonial">
            <img src="../static/img/textmonial-layer.png" alt="">
            <h2 id="prices">ЦЕНИ</h2>
            <div class="about-icon">
                <img src="../static/img/rrrrr.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial-carousal-one owl-carousel owl-theme">
                            <div class="item">
                                <img src="../static/img/testimonial-img.png" alt="">
                                <h4>Anthony Y. Erickson</h4>
                                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
                                    Lorem Ipsum has been the industry's standard dummy text ever since the <br>
                                    1500s, Lorem Ipsum is simply dummy text of.
                                </h5>
                                <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                   aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                     aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                            <div class="item">
                                <img src="../static/img/testimonial-img.png" alt="">
                                <h4>Anthony Y. Erickson</h4>
                                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
                                    Lorem Ipsum has been the industry's standard dummy text ever since the <br>
                                    1500s, Lorem Ipsum is simply dummy text of.
                                </h5>
                                <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                   aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                     aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                            <div class="item">
                                <img src="../static/img/testimonial-img.png" alt="">
                                <h4>Anthony Y. Erickson</h4>
                                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
                                    Lorem Ipsum has been the industry's standard dummy text ever since the <br>
                                    1500s, Lorem Ipsum is simply dummy text of.
                                </h5>
                                <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                   aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                                                     aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="our-blog">
            <h2 id="extra_services">ДОПЪЛНИТЕЛНИ УСЛУГИ</h2>
            <div class="about-icon">
                <img src="../static/img/section-icon.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-carousal owl-carousel owl-theme">
                            <div class="item">
                                <div class="images">
                                    <img src="../static/img/blog-area-image.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h4>Връщане на данъци от САЩ</h4>
                                    <h5>Всеки студент, който е бил на Бригада в САЩ знае, че може да си върне данъците,
                                        които са солидна част от сумата, която сме изкарали по време на Work and Travel
                                        програмата. Сумата на данъците, която може да бъде върната се определя от
                                        Федерален и Щатски данък. Ние от AIM Travel кандидатстваме за 100% Tax Refund.
                                        Данъците платени от студента, който е бил на бригада в САЩ се възстановяват от
                                        данъчните служби в САЩ чрез Чек, който AIM Travel осребрява за Вас и сумата Ви
                                        се връща по лична банкова сметка.
                                        От федералния данък (FEDERAL TAX), който ти е бил удържан, можем да ти
                                        възстановим 100% в случай, че твоя общ доход в САЩ не надвишава или е равен на
                                        необлагаемият минимум за САЩ. (Кандидатства се за 100% от сумата). От щатския
                                        Данък (State Tax) също можем да възтановим до 100% от сумата.
                                    </h5>

                                    <h6><a href="#">READ MORE</a></h6>
                                </div>
                            </div>
                            <div class="item">
                                <div class="images">
                                    <img src="../static/img/blog-area-image.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h4>Преводи</h4>
                                    <h5>AIM Travel разполага с повече от 200 преводачи за повече от 30 езика и извършва
                                        лицензирани преводи и легализация в своите офиси в Студентски Град и Центъра на
                                        София. Затова за нас няма да е проблем да преведем вашите фирмени или лични
                                        документи в офиса ни в Студентски град, София на следните езици:
                                        ПЪРВА ГРУПА
                                        английски, немски, френски, руски

                                        ВТОРА ГРУПА италиански, испански

                                        ТРЕТА ГРУПА полски, чешки, сръбски, хърватски, гръцки

                                        ЧЕТВЪРТА ГРУПА турски, румънски, молдовски, македонски, албански, словашки

                                        ПЕТА ГРУПА
                                        португалски, холандски, украински

                                        ШЕСТА ГРУПА
                                        унгарски, датски, шведски, норвежки, финландски, словенски, литовски, латвийски,
                                        естонски, арабски, корейски, китайски, японски, персийски, иврит, арменски,
                                        грузински</h5>
                                    <h6><a href="#">READ MORE</a></h6>
                                </div>
                            </div>
                            <div class="item">
                                <div class="images">
                                    <img src="../static/img/blog-area-image.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h4>Легализация</h4>
                                    <h5>AIM Travel чрез своя офис в Студентски Град предлага легализация на официални
                                        документи с апостил, заверки в министерства и други държавни институции и
                                        учреждения в Република България, заверки във всички консулски представителства
                                        на чужди държави в Република България, заверки на преводи.

                                        Чрез Легализацията даден документ се заверява, която заверка удостоверява
                                        правотата и истинността на документа. В зависимост от изискващия орган всеки
                                        документ има различен ред на легализация. На заверка подлежат, както български,
                                        така и чуждестранни документи. AIM Travel ще ви помогне с изискуемата
                                        документация във всяка институция, за да могат вашите документи да бъдат
                                        преведени и легализирани. В офиса ни в студентки град ще получите официален
                                        превод на официална фирмена бланка. На бланката има подпис и печат на заклет
                                        преводач.</h5>
                                    <h6><a href="#">READ MORE</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-icon">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-carousal owl-carousel owl-theme">
                            <div class="item">
                                <img src="../static/img/footer-icon1.png" alt="">
                            </div>
                            <div class="item">
                                <img src="../static/img/footer-icon2.png" alt="">
                            </div>
                            <div class="item">
                                <img src="../static/img/footer-icon3.png" alt="">
                            </div>
                            <div class="item">
                                <img src="../static/img/footer-icon4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact-area">
            <h2 id="contacts">КОНТАКТИ</h2>
            <div class="about-icon">
                <img src="../static/img/section-icon.jpg" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="contact-part">
                            <h4><i class="fa fa-map-marker" aria-hidden="true"></i>Къде да ни намериш</h4>
                            <P>ул.Никола Габровски (до Joy-Station)</P>
                            <P>SouthMall (до Зимния)</P>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="contact-part">
                            <h4><i class="fa fa-phone" aria-hidden="true"></i>call us now</h4>
                            <p>+14155552671</p>
                            <p>+14589632455</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="contact-part">
                            <h4><i class="fa fa-envelope" aria-hidden="true"></i>send your message</h4>
                            <p>example@gmail.com</p>
                            <p>example@gmail.com</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <form action="#" method="post">
                                <input type="text" placeholder="Name">
                                <input type="email" placeholder="Email">
                                <input type="text" placeholder="Subject">
                                <textarea placeholder="Message"></textarea>
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <div class="text">
                            <p><span><a href="#">Pickthemes</a></span> &copy; 2017 All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-4">
                        <div class="footer-logo">
                            <p><a href="{% url 'index' %}">AIM Travel</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-2">
                        <div class="icon">
                            <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i
                                    class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i
                                    class="fa fa-behance" aria-hidden="true"></i></a><a href="#"><i
                                    class="fa fa-dribbble" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/isotope.pkgd.js"></script>
    <script src="../static/js/masonry.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/active.js"></script>
    </body>
{% endblock %}